body {
    background-color:antiquewhite;
    color:green;
}
/* Styling the list of items in the nav bar */
nav ul {
    display: flex;
}
/* Styling the space of each item */
nav li {
    list-style:none;
    background-color: green;
    color: antiquewhite;
}

